.block-container {
    padding-left: 1rem;
    padding-right: 1rem; 
}

[data-testid='stFileUploader'], [data-testid='stButton']{
    margin:0;
    padding:0x;
    background-color: #c0c0ff;
    border-radius: 10px;
}


[data-testid='stFileUploader'] section > input + div {
    display:none;
    visibility: collapse;
}

[data-testid='stFileUploader'] section + div {
    display:none;
    visibility: collapse;
}


[data-testid='stFileUploaderDropzone'] {
    padding: 0;
}

[data-testid=stFileUploader] button{
   
    font-weight: bold;
    width: 100%;
    line-break: strict;
}


[data-testid='stSidebarHeader'] {
    padding:0;
    display:visible ;
}

.stTextInput > span {
    font-size:8px;  
    font-weight:bold; 
    color:blue;
}

.stMultiSelect > span {
    font-size:8px; 
    font-weight:bold; 
    color:blue;
} 

.stTabs  {
    padding-left: 0rem;
}

.stTabs [data-baseweb="tab"] div p {
    font-weight: bold;
    font-size: 110%;
}

.stTabs [data-baseweb="tab"] {
    width:14.2%;

    z-index: 999999;
    margin-top: 40px;
    height: 30px; 
    white-space: pre-wrap; 
    background-color: #e0e0e0; 
    border: 3px solid #d0d0d0;
    border-bottom-width: 0;
    color: #000000; 
    padding: 15px;
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px; 
}

.stTabs [aria-selected="true"] {
    background-color: red; 
    color: #ffffff;
    font-weight: bold;
}

span[data-baseweb="tag"] {
    background-color: #e0e0e0 !important; 
    color: #000000 !important; 
    font-size:13px;
    padding:6px; 
}  

.stPlotlyChart { 
    border-radius: 6px; 
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.20), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}

[data-testid=stSidebar] {
    background-color: #fff9ff;
    border-right: 2px solid #c0c0c0;
}


.stButton>button{
    border-radius: 2px;
    color: black;
    border-radius: 4px;
    }

.stButton>button[disabled] {
        color: gray;
    }
    
button[kind="primary"]{
    background-color: lightgreen;
    color: gray;
}

.stExpander details{
    border-width:2px ;
}

div[data-baseweb="select"] > * {
    border-radius:0
}

.stMainBlockContainer {
    padding-top:0rem;
    margin-top:0rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


/* div[data-baseweb="select"]  { 
    top:1rem; 
    left:10px;
    position:fixed;
    max-width:150px !important;} 
*/

/*Hack */

.stAppHeader{
    background-color: transparent;
}

button > div > p, .stFileUploader button{
    font-size: 1rem !important;
    word-break: keep-all !important;
}



/* HACK */
.st-key-_uploader > div > section > button{
    font-size: 0px !important;
}

/* HACK */
.st-key-_uploader > div > section > button::before{
    content: 'Load Transactions from CSV File';   
    font-size: 1rem !important;
}
